* {
    margin: 0px;
    padding: 0px;
}

.Shivank-Arya-Logo {
    /* width: 35%; */
    height: 15%;
    position: relative;
    top: auto;
    left: 70px;
}

header {
    display: flex;
}

/* --------- day/night toggle button--------- */
body {
    width: 100%;
    height: 100vh;
    background-color: #f0ffed;
    position: relative;
}

.container {
    position: absolute;
    top: -17px;
    left: 150px;
    transform: translate(-50%, -50%);
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    /* border: 1px solid black; */
    transform: scale(0.6); 
}

label {
    width: 250px;
    height: 100px;
    background-color: #3b92d9;
    display: block;
    border-radius: 100px;
    margin: 0px auto;
    cursor: pointer;
    position: relative;
}
.circle {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
    transition: 0.5s;
}

/* ----------light theme---------- */
.light_theme {
    transition: 0.5s;
}
.sun {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
    right: 80px;
    top: 8px;
    transition: 0.5s;
}

.clouds {
    position: relative;
    width: 100px;
    height: 70px;
    /* border: 1px solid black; */
    left: 120px;
    top: 25px;
    transition: 0.5s;
}
.cloud1 {
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 100px;
}
.cloud2 {
    position: absolute;
    bottom: 10px;
    left: 23px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 100px;
}
.cloud3 {
    position: absolute;
    bottom: 20px;
    left: 55px;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 100px;
}

input[type="checkbox"]:checked + label .circle {
    left: 150px;
}
input[type="checkbox"]:checked + label .light_theme {
    opacity: 0;
    transition: 0.5s;
}
input[type="checkbox"]:checked + label .light_theme .sun{
    top: 40px;
}
input[type="checkbox"]:checked + label .light_theme .clouds{
    left: 40px;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked + label .dark_theme {
    opacity: 1;
    transition: 0.5s;
}
input[type="checkbox"]:checked + label .dark_theme .moon{
    top: 8px;
}
input[type="checkbox"]:checked + label{
    background-color: #000;
}
/* ----------dark theme---------- */
.dark_theme {
    opacity: 0;
}
.moon {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 100px;
    left: 50px;
    top: -20px;
    transition: 0.5s;
}
.moon::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #f2f2f2;
    border-radius: 100px;
    left: 15px;
    top: 10px;
    
}
.moon::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: #f2f2f2;
    border-radius: 100px;
    left: 10px;
    top: 25px;
}

.star1, .star2, .star3 {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 100px;
}

.star1 {
    left: 30px;
    top: 10px;
}
.star2 {
    left: 120px;
    top: 50px;
}
.star3 {
    left: 20px;
    top: 70px;
}
/* -----------button complete----------- */